[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/pendle-sy"]
	path = lib/pendle-sy
	url = git@github.com:pendle-finance/pendle-sy.git
	branch = main
[submodule "lib/pendle-core"]
	path = lib/pendle-core
	url = git@github.com:pendle-finance/pendle-core-v2.git
	branch = main
